@using Uno.Shared

@namespace Uno.Client.Shared

@if (PlayedCards == null)
{
    <h1>Played cards not supplied</h1>
    return;
}

<div class="container auto-font-size">
    <div class="cell">
        <div class="deck">
            @for (int i = 0; i < this.DeckRemainingCards; i++)
            {
                <div class="card-wrapper">
                    <UnoCard IsBackFace="true"/>
                </div>
            }
        </div>
    </div>

    <div class="cell">
        <div class="played-deck">
            @foreach (var card in this.PlayedCards)
            {
                <div class="card-anchor">
                    <div class="card-wrapper">
                         <UnoCard Color="card.Color" Type="card.Type" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int DeckRemainingCards { get; set; } = 0;

    [Parameter]
    public IEnumerable<ListenGameResponse.CardFace>? PlayedCards { get; set; }
}
