.container {
    width: 100%;
    height: 100%;
    white-space: nowrap;
}

.cell {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 100%;
    vertical-align: top;
}

.deck {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 12em;
    height: 100%;
}

.deck .card-wrapper {
    flex-grow: 0;
    flex-shrink: 1;
    flex: 1;
    max-width: 0.005em;
    overflow: visible;
    z-index: 1; /* Required for the card centers to not overlap */
}

    .deck .card-wrapper:last-of-type {
        flex-shrink: 0; /* Make the last card entirely count into the size*/
        flex-grow: 1;
        flex: auto; /* Auto resizes to the content size */
        max-width: min-content;
    }

.played-deck {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 13em;
}

.played-deck .card-anchor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    .played-deck .card-anchor:nth-child(5n + 0) .card-wrapper {
        transform: rotate(30deg);
    }

    .played-deck .card-anchor:nth-child(5n + 1).card-wrapper {
        transform: rotate(160deg);
    }

    .played-deck .card-anchor:nth-child(5n + 2) .card-wrapper {
        transform: rotate(190deg);
    }

    .played-deck .card-anchor:nth-child(5n + 3) .card-wrapper {
        transform: rotate(60deg);
    }

    .played-deck .card-anchor:nth-child(5n + 4) .card-wrapper {
        transform: rotate(130deg);
    }