@using Uno.Shared

@namespace Uno.Client.Shared

@if (this.Lobby != null)
{
    <div>
        @foreach (var player in this.Lobby.Players)
        {
            <div class="name-box">
                <div class="head">@GetImage(player)</div>
                <div class="name label">@GetCrown(player)@player</div>
            </div>
        }
    </div>

    @if (IsAdmin)
    {
        <button class="btn primary @StartGameDisabledClass" @onclick="OnClickStart">Start</button>
    }
}


@code {
    private bool IsAdmin => this.PlayerName == this.AdminName;
    private string StartGameDisabledClass => (this.Lobby?.CanStart == true)
        ? ""
        : "disabled";

    [Parameter]
    public ListenGameResponse.LobbyStatus? Lobby { get; set; }

    [Parameter]
    public string AdminName { get; set; } = string.Empty;

    [Parameter]
    public string PlayerName { get; set; } = string.Empty;

    [Parameter]
    public EventCallback OnStart { get; set; }

    private MarkupString GetImage(string playerName)
    {
        return new MarkupString(Emoji.GetPlayerEmoji(playerName));
    }

    private MarkupString GetCrown(string playerName)
    {
        if (playerName == this.AdminName)
        {
            return new MarkupString("&#x1F451;"); // Crown
        }
        else
        {
            return new MarkupString();
        }
    }

    private Task OnClickStart()
    {
        if (this.Lobby?.CanStart == true)
        {
            return OnStart.InvokeAsync();   
        }
        else
        {
            return Task.CompletedTask;
        }
    }
}
