@namespace Uno.Client.Shared
@using Uno.Shared

@if (this.Status != null)
{
    @foreach (var player in Status.OtherPlayerCards)
    {
        <div class="player-box">
            <PlayerCards PlayerName="@player.PlayerName" CardCount="player.CardCount" />
        </div>
    }
}
else
{
    <h1>Status not given</h1>
}

@code {
    [Parameter]
    public ListenGameResponse.GameStatus? Status { get; set; }
}
