@using Uno.Client.Pages
@using Uno.Shared

@namespace Uno.Client.Shared

@inject Api api

@if (this.Cards == null)
{
    <h1>No cards given</h1>
    return;
}

<div class="wrapper player-box auto-font-size @ActiveClass @SelectableClass" @onclick="OnClickWrapper">
    <div class="cards">
        @foreach (var card in this.Cards)
        {
            <div class="card-stack">
                @for (int i = card.Count - 1; i >= 0; i--)
                {
                    int index = i;

                    <div class="stack-entry">
                        <div class="card-wrapper @GetHoverClass(index)" @onmouseover="() => OnHover(index)" @onmouseout="OnLeave" @onclick="() => OnClickCard(card.Color, card.Type, index)">
                            <UnoCard Color="card.Color" Type="card.Type"/>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>

@code {
    private int hoverIndex = -1;

    [Parameter]
    public IEnumerable<GameMessages.CardCount>? Cards { get; set; }

    [Parameter]
    public bool CanPlayCard { get; set; }

    [Parameter]
    public bool CanBePicked { get; set; }

    [Parameter]
    public string? PlayerName { get; set; }

    [Parameter]
    public EventCallback<InGame.PlayCardParams> OnPlayCard { get; set; }

    [Parameter]
    public EventCallback<string> OnPickedPlayer { get; set; }

    private string ActiveClass => CanPlayCard ? "active glow" : string.Empty;

    private string SelectableClass => CanBePicked ? "selectable glow red" : string.Empty;

    private void OnHover(int index)
    {
        this.hoverIndex = index;
    }

    private void OnLeave()
    {
        this.hoverIndex = -1;
    }

    private string GetHoverClass(int index)
    {
        if (this.hoverIndex >= 0 && index <= this.hoverIndex)
        {
            return "hover";
        }
        else
        {
            return string.Empty;
        }
    }

    private Task OnClickCard(GameMessages.CardColor color, GameMessages.CardType type, int index)
    {
        if (this.CanPlayCard)
        {
            return OnPlayCard.InvokeAsync(new InGame.PlayCardParams(new GameMessages.CardFace(color, type), index + 1));   
        }
        else
        {
            return Task.CompletedTask;
        }
    }

    private Task OnClickWrapper()
    {
        if (this.CanBePicked)
        {
            return this.OnPickedPlayer.InvokeAsync(this.PlayerName ?? string.Empty);
        }
        else
        {
            return Task.CompletedTask;
        }
    }
}
