@using Uno.Shared

@namespace Uno.Client.Shared

@if (PlayedCards == null)
{
    <h1>Played cards not supplied</h1>
    return;
}

<div class="played-deck auto-font-size">
    <div class="cards" style="font-size: @CardSize;">
        @foreach (var card in this.PlayedCards)
        {
            <div class="card-anchor">
                <UnoCard Color="card.Color" Type="card.Type" />
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public IEnumerable<GameMessages.CardFace>? PlayedCards { get; set; }

    [Parameter]
    public string CardSize { get; set; } = "10vmin";
}
