@namespace Uno.Client.Shared

<div class="deck auto-font-size">
    <div class="cards @ActiveClass" @onclick="OnClickDeck" style="font-size: @CardSize;">
        @for (int i = 0; i < this.DisplayCardCount; i++)
        {
            <div class="card-wrapper">
                <UnoCard IsBackFace="true"/>
            </div>
        }
    </div>
</div>

@code {
    private int DisplayCardCount => Math.Min(10, this.DeckRemainingCards);

    [Parameter]
    public bool CanPullCard { get; set; }

    [Parameter]
    public int DeckRemainingCards { get; set; } = 0;

    [Parameter]
    public EventCallback OnPull { get; set; }

    [Parameter]
    public string CardSize { get; set; } = "10vmin";

    private string ActiveClass => this.CanPullCard ? "active" : string.Empty;

    private Task OnClickDeck()
    {
        if (this.CanPullCard)
        {
            return this.OnPull.InvokeAsync();
        }
        else
        {
            return Task.CompletedTask;
        }
    }
}
