@namespace Uno.Client.Shared

<div class="deck auto-font-size">
    <div class="cards">
        @for (int i = 0; i < this.DeckRemainingCards; i++)
        {
            <div class="card-wrapper">
                <UnoCard IsBackFace="true"/>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public int DeckRemainingCards { get; set; } = 0;
}
