@namespace Uno.Client.Shared
@using Uno.Shared

<div class="container">
    <div class="icon">
        @Icon
    </div>
    <div class="name">
        @Player?.PlayerName
    </div>
    <div class="cards">
        @for (int i = 0; i < CardCount; i++)
        {
            <div class="card-wrapper">
                <UnoCard IsBackFace="true"/>
            </div>
        }
    </div>
</div>

@code {
    private MarkupString Icon => new MarkupString(Emoji.GetPlayerEmoji(Player?.PlayerName ?? string.Empty));

    private int CardCount => this.Player?.CardCount ?? 0;

    [Parameter]
    public ListenGameResponse.PlayerHand? Player { get; set; }
}
