.container {
    display: block;
    width: fit-content;
    max-width: 100%;
    height: fit-content;
}

.name {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.icon {
    font-size: 3em;
    text-align: center;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    counter-reset: card-index;
    font-size: 8em; /* Card size is driven by the font size */
}

    .card-wrapper:not(:last-of-type) {
        margin-right: -3px;
    }

    .card-wrapper:last-of-type {
        flex-shrink: 0;
    }

.selectable {
    cursor: pointer;
}