@namespace Uno.Client.Shared
@using Uno.Shared

<div class="container @ColorClass">
    @ChildContent
</div>

@code {
    [Parameter]
    public GameMessages.CardColor Color { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private string ColorClass => Color.ToString().ToLowerInvariant();
}
