.wrapper {
    display: inline-block;
    position: relative;
    font-size: 40px;
    width: 100px;
    height: 100px;
}

.arrow1 {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-65%, -58%)
}

.arrow2 {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-35%, -42%)
}