@namespace Uno.Client.Shared
@using Uno.Shared

@if (Status == null)
{
    <h1>Status not given</h1>
    return;
}

@foreach (var playerName in PlayersInOrder)
{
    <div>@playerName</div>
}

@code {
    [Parameter]
    public ListenGameResponse.GameStatus? Status { get; set; }

    [Parameter]
    public string PlayerName { get; set; } = string.Empty;

    IEnumerable<string> PlayersInOrder => Status
        .OtherPlayerCards
        .Select(p => (p.PlayerName, p.FinishedNumber))
        .Append((PlayerName, Status.CurrentPlayerFinishedNumber))
        .OrderBy(e => e.Item2)
        .Select(e => e.PlayerName);
}
