.player-box {
    display: inline-block;
}

.grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.grid .row {
    flex: 0 1 auto;
    min-height: 0;
    display: flex;
    flex-direction: row;
    position: relative;
}

    .grid .row.fill {
        flex: 1;
    }

.grid .row .cell {
    display: inline-block;
    position: relative;
    vertical-align: top;
    padding: 1%;
    flex: 1;
    min-width: 0;
    z-index: 1;
}

    .grid .row .cell.double {
        flex:2;
    }

    .grid .row .cell.octa {
        flex: 5;
    }

.selectable {
    cursor: pointer;
}

.color-picker {
    pointer-events: none;
    position: absolute;
    height:100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.active-color{
    pointer-events: none;
    position: absolute;
    height: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}