.table {
    position: relative;
    width: 100%;
    height: 100%;
}

.center {
    width:30%;
    height:30%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bottom {
    position: absolute;
    width: 100%;
    top:100%;
    transform: translate(0, -100%);
}

.player-box {
    display: inline-block;
}

.selectable {
    cursor: pointer;
}

.color-picker {
    pointer-events: none;
    position: absolute;
    height:100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.active-color{
    pointer-events: none;
    position: absolute;
    height: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}