@namespace Uno.Client.Shared
@using Uno.Client.Pages
@using Uno.Shared

@if (this.Status == null)
{
    <h1>Status not given</h1>
    return;
}

<div class="grid">
    <div class="row">
        @if (remotePlayers.Length >= 1)
        {
            <div class="cell">
                <RemotePlayerBox Player="remotePlayers[0]" ActivePlayerName="@Status?.CurrentPlayerName" CanPickPlayer="CanPickPlayer" OnPickPlayer="OnPickPlayerBox"/>
            </div>
        }
        
        @if (remotePlayers.Length >= 2)
        {
            <div class="cell">
                <RemotePlayerBox Player="remotePlayers[1]" ActivePlayerName="@Status?.CurrentPlayerName" CanPickPlayer="CanPickPlayer" OnPickPlayer="OnPickPlayerBox"/>
            </div>
        }

        @if (remotePlayers.Length >= 3)
        {
            <div class="cell">
                <RemotePlayerBox Player="remotePlayers[2]" ActivePlayerName="@Status?.CurrentPlayerName" CanPickPlayer="CanPickPlayer" OnPickPlayer="OnPickPlayerBox"/>
            </div>
        }

        @if (remotePlayers.Length >= 4)
        {
            <div class="cell">
                <RemotePlayerBox Player="remotePlayers[3]" ActivePlayerName="@Status?.CurrentPlayerName" CanPickPlayer="CanPickPlayer" OnPickPlayer="OnPickPlayerBox"/>
            </div>
        }
    </div>

    @for (int i = 7; i < remotePlayers.Length; i += 4)
    {
        <div class="row">
            @if (remotePlayers.Length >= (i + 1))
            {
                <div class="cell">
                    <RemotePlayerBox Player="remotePlayers[i]" ActivePlayerName="@Status?.CurrentPlayerName" CanPickPlayer="CanPickPlayer" OnPickPlayer="OnPickPlayerBox"/>
                </div>
            }

            @if (remotePlayers.Length >= (i + 2))
            {
                <div class="cell">
                    <RemotePlayerBox Player="remotePlayers[i + 1]" ActivePlayerName="@Status?.CurrentPlayerName" CanPickPlayer="CanPickPlayer" OnPickPlayer="OnPickPlayerBox"/>
                </div>
            }

            @if (remotePlayers.Length >= (i + 3))
            {
                <div class="cell">
                    <RemotePlayerBox Player="remotePlayers[i + 2]" ActivePlayerName="@Status?.CurrentPlayerName" CanPickPlayer="CanPickPlayer" OnPickPlayer="OnPickPlayerBox"/>
                </div>
            }

             @if (remotePlayers.Length >= (i + 4))
            {
                <div class="cell">
                    <RemotePlayerBox Player="remotePlayers[i + 3]" ActivePlayerName="@Status?.CurrentPlayerName" CanPickPlayer="CanPickPlayer" OnPickPlayer="OnPickPlayerBox"/>
                </div>
            }
        </div>
    }

    <div class="row">
        @if (remotePlayers.Length >= 5)
        {
            <div class="cell">
                <RemotePlayerBox Player="remotePlayers[4]" ActivePlayerName="@Status?.CurrentPlayerName" CanPickPlayer="CanPickPlayer" OnPickPlayer="OnPickPlayerBox"/>
            </div>
        }

        <div class="cell double">

            <div class="active-color">
                <ActiveColorMarker Color="this.Status.ActiveColor" />
            </div>

            <PlayedCardsDeckBox PlayedCards="this.Status?.PlayedCards" />

            <div class="color-picker">
                <ColorPicker Show="ShowColorPicker" CanPick="CanPickColor" OnPickColor="c => OnPickColor.InvokeAsync(c)"/>
            </div>
        </div>

        @if (remotePlayers.Length >= 6)
        {
            <div class="cell">
                <RemotePlayerBox Player="remotePlayers[5]" ActivePlayerName="@Status?.CurrentPlayerName" CanPickPlayer="CanPickPlayer" OnPickPlayer="OnPickPlayerBox"/>
            </div>
        }
    </div>
    <div class="row">
        <div class="cell">
            <PullDeckBox CanPullCard="CanPlayCard" DeckRemainingCards="this.Status?.DeckRemainingCards ?? 0" OnPull="() => OnPullCard.InvokeAsync()" />
        </div>
        <div class="cell octa">
            <LocalPlayerBox CanPlayCard="CanPlayCard" Cards="this.Status?.Cards" OnPlayCard="p => OnPlayCard.InvokeAsync(p)"/>
        </div>
    </div>
</div>

@code {
    private GameMessages.PlayerHand[] remotePlayers = Array.Empty<GameMessages.PlayerHand>();

    [Parameter]
    public ListenGameResponse.GameStatus? Status { get; set; }

    [Parameter]
    public EventCallback<InGame.DropCardParams> OnPlayCard { get; set; }

    [Parameter]
    public EventCallback OnPullCard { get; set; }

    [Parameter]
    public EventCallback<string> OnPickPlayer { get; set; }

    [Parameter]
    public EventCallback<GameMessages.CardColor> OnPickColor { get; set; }

    [Parameter]
    public string? PlayerName { get; set; }

    private bool IsLocalPlayerActive => Status?.CurrentPlayerName == PlayerName;

    private bool CanPlayCard => IsLocalPlayerActive && Status?.RoundPhase == GameMessages.RoundPhase.Card;

    private bool CanPickPlayer => IsLocalPlayerActive && Status?.RoundPhase == GameMessages.RoundPhase.Player;

    private bool ShowColorPicker => Status?.RoundPhase == GameMessages.RoundPhase.Color;

    private bool CanPickColor => ShowColorPicker && IsLocalPlayerActive;

    protected override void OnParametersSet()
    {
        if (this.Status != null)
        {
            this.remotePlayers = this.Status.OtherPlayerCards.ToArray();   
        }
        else
        {
            this.remotePlayers = Array.Empty<GameMessages.PlayerHand>();
        }
    }

    private Task OnPickPlayerBox(string playerName)
    {
        return this.OnPickPlayer.InvokeAsync(playerName);
    }
}
