@page "/"
@using System.Text.Json
@using System.Net.Sockets
@using System.Net
@using System.Text
@using Uno.Shared
@using Uno.Client

@inject HttpClient http

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<div>Output:</div>
<div>@output</div>

@code {
    private string output = "Start ";

    protected override void OnInitialized()
    {
        LobbyListenerTask()
            .CatchExceptions(); // Run in background
    }

    private async Task LobbyListenerTask()
    {
        await foreach (var response in http.PostAsJsonStreamAsync<ListenLobbyResponse>(URL.Lobby.Listen, new ListenLobbyRequest { Token = "token" }))
        {
            output += response.Test + " ";

            this.StateHasChanged();
        }
    }
}
