@page "/pick-lobby"
@using Uno.Shared

@inject Api api

Pick lobby

<div>
    <span>Player name:</span>
    <input @bind-value="playerName"/>
</div>

<div>
    Create new lobby:
    <input @bind-value="newLobbyName"/>
    <button @onclick="OnClickCreateLobby">Create</button>
</div>

<div>
    Token: @token
</div>

@code {
    private string playerName = string.Empty;
    private string newLobbyName = string.Empty;

    private string token = string.Empty;

    private async Task OnClickCreateLobby()
    {
        var result = await this.api.Lobby.CreateLobbyAsync(new CreateLobbyRequest { LobbyName = newLobbyName, PlayerName = playerName });

        if (result.IsSuccessful)
        {
            this.token = result.token;
            this.StateHasChanged();
        }
    }
}