@page "/"
@using Uno.Client.GameService
@using Uno.Shared

@inject Api api
@inject NavigationManager navigationManager
@inject IGameService gameService

<h2>Pick/Create lobby</h2>

<div class="form-group">
    <span class="label">Player name:</span>
    <input class="input" @bind-value="playerName"/>
</div>

<div class="form-group">
    <span class="label">Create new lobby:</span>
    <input class="input" @bind-value="newLobbyName"/>
    <button class="btn" @onclick="OnClickCreateLobby">Create</button>
</div>

<div class="form-group">
    <span class="label">Join lobby:</span>
    <input class="input" @bind-value="joinLobbyName"/>
    <button class="btn" @onclick="OnClickJoinLobby">Join</button>
</div>

@code {
    private string playerName = string.Empty;
    private string newLobbyName = string.Empty;
    private string joinLobbyName = string.Empty;

    private async Task OnClickCreateLobby()
    {
        var result = await this.api.Lobby.CreateLobbyAsync(new CreateLobbyRequest(newLobbyName, playerName));

        if (result.IsSuccessful)
        {
            gameService.Set(result.AdminPlayerToken, playerName);
            navigationManager.NavigateTo("/lobby");
        }
    }

    private async Task OnClickJoinLobby()
    {
        var result = await this.api.Lobby.JoinLobbyAsync(new JoinLobbyRequest(playerName, joinLobbyName));

        if (result.IsSuccessful)
        {
            gameService.Set(result.Token, playerName);
            navigationManager.NavigateTo("/lobby");
        }
    }
}