@page "/pick-lobby"
@using Uno.Shared

@inject Api api
@inject NavigationManager navigationManager

Pick lobby

<div>
    <span>Player name:</span>
    <input @bind-value="playerName"/>
</div>

<div>
    Create new lobby:
    <input @bind-value="newLobbyName"/>
    <button @onclick="OnClickCreateLobby">Create</button>
</div>

<div>
    Join lobby:
    <input @bind-value="joinLobbyName"/>
    <button @onclick="OnClickJoinLobby">Join</button>
</div>

@code {
    private string playerName = string.Empty;
    private string newLobbyName = string.Empty;
    private string joinLobbyName = string.Empty;

    private async Task OnClickCreateLobby()
    {
        var result = await this.api.Lobby.CreateLobbyAsync(new CreateLobbyRequest(newLobbyName, playerName));

        if (result.IsSuccessful)
        {
            navigationManager.NavigateTo("/lobby");
        }
    }

    private async Task OnClickJoinLobby()
    {
        var result = await this.api.Lobby.JoinLobbyAsync(new JoinLobbyRequest(playerName, joinLobbyName));

        if (result.IsSuccessful)
        {
            navigationManager.NavigateTo("/lobby");
        }
    }
}