.uno-card {
    --color-yellow: rgb(230, 200, 0);
    --color-green: rgb(0, 200, 0);
    --color-blue: rgb(0, 0, 200);
    --color-red: rgb(200, 0, 0);
    --color-black: rgb(0, 0, 0);
    height: 1em;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.05em;
    display: inline-block;
    padding: 0.05em;
    aspect-ratio: 0.7;
}

    .uno-card .color {
        position: relative;
        height: 100%;
        width: 100%;
        border-radius: 0.05em;
        overflow: hidden;
    }

    .uno-card .ellipse {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 140%;
        height: 58%;
        border-radius: 50%;
        transform: translate(-50%, -50%) rotateZ(-60deg);
        overflow: hidden;
    }

    .uno-card .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
    }

        .uno-card .text.top {
            left: 5%;
            top: 0%;
            transform: translate(0, 0);
        }

        .uno-card .text.bottom {
            left: 97%;
            top: 100%;
            transform: translate(-100%, -100%);
        }

    .uno-card .text.underline {
        text-decoration: underline;
    }

    /* ================================ +2 Mini card slots */
    .uno-card .mini-slot-2-1 {
        display: inline-block;
        position: absolute;
        left: 40%;
        top: 55%;
    }

    .uno-card .mini-slot-2-2 {
        display: inline-block;
        position: absolute;
        left: 60%;
        top: 45%;
    }

    /* ================================ +4 Mini card slots */
    .uno-card .mini-slot-4-1 {
        display: inline-block;
        position: absolute;
        left: 35%;
        top: 50%;
    }

    .uno-card .mini-slot-4-2 {
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 40%;
    }

    .uno-card .mini-slot-4-3 {
        display: inline-block;
        position: absolute;
        left: 65%;
        top: 50%;
    }

    .uno-card .mini-slot-4-4 {
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 60%;
    }

    /* ================================ BACK FACE */
    .uno-card.back .color {
        background-color: black;
    }

    .uno-card.back .ellipse {
        background-color: red;
    }

    .uno-card.back .text {
        font-size: 0.25em;
        color: yellow;
    }

    .uno-card.back .text {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    /* ================================ FRONT FACE */
    .uno-card.front .color.yellow {
        background-color: var(--color-yellow);
    }

    .uno-card.front .color.green {
        background-color: var(--color-green);
    }

    .uno-card.front .color.blue {
        background-color: var(--color-blue);
    }

    .uno-card.front .color.red {
        background-color: var(--color-red);
    }

    .uno-card.front .color.colorless {
        background-color: var(--color-black);
    }

        .uno-card.front .color.colorless .ellipse {
            background-color: white;
        }

    .uno-card.front .ellipse {
        border: 0.04em solid white;
    }

    .uno-card.front .text {
        font-size: 0.55em;
        font-weight: bold;
        color: white;
        text-shadow: -0.05em 0.05em black, 0 0 2px black;
    }

    .uno-card.front .text.top,
    .uno-card.front .text.bottom {
        font-size: 0.15em;
        text-shadow: -0.08em 0.08em black, 0 0 2px black;
    }

    /* ================================ Swap Arrows */
    .uno-card .text.swap-arrow {
        font-size: 0.45em;
    }
        .uno-card .text.swap-arrow::before {
            content: "🗘";
            display: inline-block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-55%, -55%) rotate(-45deg);
        }

    .uno-card .text.top.swap-arrow::before {
        transform: translate(-20%, -15%) rotate(-45deg);
    }

    .uno-card .text.bottom.swap-arrow::before {
        transform: translate(-100%, -100%) rotate(-45deg);
    }

    /* ================================ Block */
    .uno-card .text.block::after {
        content: '🛇';
        font-size: 0.7em;
        position: absolute; /* Needs realignment due to the glyph seemingly being not centered */
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .uno-card .text.top.block::after {
        transform: translate(0, 0);
    }

    .uno-card .text.bottom.block::after {
        transform: translate(-100%, -100%);
    }

    /* ================================ Reverse */
    .uno-card .text.reverse::after {
        content: '🔃\FE0E';
        font-size: 0.7em;
        position: absolute; /* Needs realignment due to the glyph seemingly being not centered */
        left: 50%;
        top: 50%;
        transform: translate(-55%, -55%) rotate(-45deg);
    }

    .uno-card .text.top.reverse::after {
        transform: translate(0, 0) rotate(-45deg);
    }

    .uno-card .text.bottom.reverse::after {
        transform: translate(-100%, -100%) rotate(-45deg);
    }

    /* ================================ Mini-Card */
    /* Before is the outer part */
    .uno-card .mini-card::after {
        content: "";
        position: absolute;
        height: 0.30em;
        transform: translate(-50%, -50%) skew(-10deg);
        border-radius: 0.03em;
        aspect-ratio: 0.7;
        border: 0.03em solid white;
        outline: 1px solid black;
    }

    /* Color inherited from card color */
    .uno-card .color.yellow .mini-card::after {
        background-color: var(--color-yellow);
    }

    .uno-card .color.green .mini-card::after {
        background-color: var(--color-green);
    }

    .uno-card .color.blue .mini-card::after {
        background-color: var(--color-blue);
    }

    .uno-card .color.red .mini-card::after {
        background-color: var(--color-red);
    }

    /* Manual color */
    .uno-card .mini-card.yellow::after {
        background-color: var(--color-yellow);
    }

    .uno-card .mini-card.green::after {
        background-color: var(--color-green);
    }

    .uno-card .mini-card.blue::after {
        background-color: var(--color-blue);
    }

    .uno-card .mini-card.red::after {
        background-color: var(--color-red);
    }

    /* ================================ Color Wheel */
    .uno-card .color-wheel {
        display: inline-block;
        position: absolute;
        width: 50%;
        height: 50%;
    }

        /* Slots */
        .uno-card .color-wheel.slot-1 {
            transform: translate(0, 0);
        }

        .uno-card .color-wheel.slot-2 {
            transform: translate(100%, 0);
        }

        .uno-card .color-wheel.slot-3 {
            transform: translate(0, 100%);
        }

        .uno-card .color-wheel.slot-4 {
            transform: translate(100%, 100%);
        }

        /* Colors */
        .uno-card .color-wheel.yellow {
            background-color: var(--color-yellow);
        }

        .uno-card .color-wheel.green {
            background-color: var(--color-green);
        }

        .uno-card .color-wheel.blue {
            background-color: var(--color-blue);
        }

        .uno-card .color-wheel.red {
            background-color: var(--color-red);
        }